.jumbotron {
    height: 100vh;
    margin: 0 !important;
    display: flex;
    align-items: center;
}

.card {
    max-width: 30rem;
}

.btn-secondary {
    border: none;
    -webkit-appearance: unset;
}

.btn-secondary span:hover {
    opacity: .7;
}

.share .btn-secondary {
    padding: 0;
    margin-right: 10px;
    border: none;
    -webkit-appearance: unset;
    color: inherit;
}

.btn-secondary .fa {
    font-size: 300%;
    border: none;
}

.new-quote {
    color: white;
}